.main-footer {
  z-index: 0;
  visibility: visible;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &.flexbox {
    @media (max-width: $screen-us-max) {
      @include flex-direction(column);
      text-align: center;
      @include align-items(center);
    }
  }

  a:hover {
    color: $primary;
  }

  .media{

    ul {
      @media (max-width: $screen-us-max) {
        @include justify-content(center);
      }

      li {
        margin-right: $s;
        @media (max-width: $screen-us-max) {
          margin: 0 $x;
        }

        & i {
          transition: ease-in-out 0.4s;
        }

        &:hover i {
          transform: rotateY(180deg);
        }
      }
    }
  }

  .p-contact {
    color: $white;
    font-size: $fs-us;
  }

}
.footer-nav {

  ul {

    li {

      a {
        font-size: $fs-x;
      }
    }
  }

  .footer-nav-title {
    font-size: $fs-s;
    color: $tertiary;
  }
}
