.card {
  max-width: 300px;
  margin: 0 auto;
  @media (max-width: $screen-us-max) {
    max-width: 100%;
    margin: 0 $s;
  }

  .icon {
    height: $xl;
    opacity: 0;
    transform: translateX(-100px);
    transition: ease-out 0.2s;

    i,
    p {
      display: inline-block;
      vertical-align: middle;
    }

    &.active {
      opacity: 1;
      transform: none;
    }
  }
}

.card-skill {
  width: 20%;
  @media (max-width: $screen-xs-max) {
    width: 50%;
  }

  &:hover .skill {
    transform: rotate(-45deg);
  }
}
