.bio-template {

  .first-circle {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
    position: absolute;
    bottom: -175px;
    left: calc(50% - 175px);
  }

  .second-circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
  }

  .third-circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba($white, 1);
  }

  .fourth-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: $white;
  }


  .dev {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-top: -100px;
    left: calc(50% - 100px);
  }

}
